.section h1 {
    color: var(--p-col)
}
.Slide-right {
    color: var(--p-col)
}
.DivContianer {
    display: flex;
    margin: 0px auto;
    width: 80%;
    padding: 20px;
    
}

.Textpage {
    background-color: rgb(240, 231, 231);
    text-align: center;
    width: 55%;

    padding-top: 50px;
}
.Image {
    width: 45%;
    
}

.Textpage h2  {
    padding: 20px;
}

